<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons slot="start">
      <ion-button fill="clear" size='default' (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Prescription Details</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card class='logo_card'>
    <img class="logo_image" src={{logo}}>
  </ion-card>
  <ion-card *ngIf="prescription.prescription_id">
    <ion-card-header color="secondary">
    <ion-card-subtitle class="ion-text-center">Prescription ID : {{prescription.prescription_id}}</ion-card-subtitle>
    </ion-card-header>
      <ion-card-content class="card_content">
        <ion-grid>

          <ion-row>
            <ion-col>
              <ion-card-subtitle><ion-icon name="person"></ion-icon> <b> Name:</b> {{prescription.name}}</ion-card-subtitle>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-card-subtitle><ion-icon name="pin"></ion-icon> <b>  Address: </b> {{prescription.address}}</ion-card-subtitle>
            </ion-col>
          </ion-row>

        </ion-grid>
      </ion-card-content>
  </ion-card>


    <ion-card class="card">
      <ion-card-header color="secondary">
      <ion-card-subtitle class="ion-text-center">Instructions</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content class="card_content">
          {{prescription.instructions}}
      </ion-card-content>
    </ion-card>

</ion-content>

<ion-tab-bar color="primary" slot="bottom">
  <ion-tab-button (click)="actionSheet('home')">
    <ion-label>Home</ion-label>
    <ion-icon name="home"></ion-icon>
  </ion-tab-button>

  <ion-tab-button (click)="actionSheet('call')">
    <ion-label>Call</ion-label>
    <ion-icon name="call"></ion-icon>
  </ion-tab-button>

  <ion-tab-button  (click)="actionSheet('email')">
    <ion-label>Email</ion-label>
    <ion-icon name="mail"></ion-icon>
  </ion-tab-button>
  <ion-tab-button (click)="actionSheet('link')">
    <ion-label>Website</ion-label>
    <ion-icon name="globe"></ion-icon>
  </ion-tab-button>

  <ion-tab-button (click)="actionSheet('info')">
    <ion-label>Info</ion-label>
    <ion-icon name="information-circle-outline"></ion-icon>
  </ion-tab-button>
</ion-tab-bar>
