<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Consultations</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card class='logo_card'>
      <img class="logo_image" src={{logo}}>
    </ion-card>

  <ion-card>
    <ion-card-header class="title" color="secondary">
      <ion-card-subtitle class="ion-text-center">Consultation</ion-card-subtitle>
    </ion-card-header>

      <ion-card-content>
          <form #form="ngForm" (ngSubmit)="submitForm(form)" method="post">
        <ion-label>Consultation type</ion-label>
              <ion-select ngModel name="subject" class="card-text" okText="Okay" cancelText="Dismiss" placeholder="Select One">
                <ion-select-option value="Medication Review">Medication Review</ion-select-option>
                <ion-select-option value="Smoking cessation consultation">Smoking cessation consultation</ion-select-option>
                <ion-select-option value="Opioid dependency treatment consultaton">Opioid dependency treatment consultaton</ion-select-option>
                <ion-select-option value="Travel Vaccines administration">Travel Vaccines administration</ion-select-option>
                <ion-select-option value="Flu shot administration">Flu shot administration</ion-select-option>
              </ion-select>

              <ion-item>
                <ion-label>Other: </ion-label>
                <ion-input ngModel name="other"></ion-input>
              </ion-item>

              <div class="comment">
                <ion-item>
                  <ion-label position="stacked">Message </ion-label>
                  <ion-textarea rows="6" cols="20" placeholder="Write something" name="comment" ngModel></ion-textarea>
                </ion-item>
              </div>

                <ion-card-header color="secondary" class="title">
                    <ion-card-subtitle class="ion-text-center">Select Time</ion-card-subtitle>
                </ion-card-header>


              <div class="pickup">

                <ion-grid>
                  <ion-row>
                    <ion-col size="3">
                      <ion-button (click)="timeBtnClick('15m');changeColor('15min')" id='15min' color="secondary" expand="block">
                        <ion-label>15 min</ion-label>
                      </ion-button>
                    </ion-col>
                    <ion-col size="3">
                      <ion-button (click)="timeBtnClick('30m');changeColor('30min')" id='30min' color="secondary" expand="block">
                        <ion-label>30 min</ion-label>
                      </ion-button>
                    </ion-col>
                    <ion-col size="3">
                      <ion-button (click)="timeBtnClick('1h');changeColor('1hour')" id='1hour' color="secondary" expand="block">
                        <ion-label>1 hour</ion-label>
                      </ion-button>
                    </ion-col>
                    <ion-col size="3">
                      <ion-button (click)="timeBtnClick('4h');changeColor('4hour')" id='4hour' color="secondary" expand="block">
                        <ion-label>4 hour</ion-label>
                      </ion-button>
                    </ion-col>
                    <ion-col size="3">
                      <ion-button (click)="timeBtnClick('1d');changeColor('1day')" id="1day" color="secondary" expand="block">
                        <ion-label>1 day</ion-label>
                      </ion-button>
                    </ion-col>

                  </ion-row>
                </ion-grid>

                <div class="pickup">
                  <ion-item lines="none">
                    <ion-label>Select manually</ion-label>
                    <ion-datetime id="pickup" name="pickup_time" ngModel displayFormat="DD MMMM YYYY HH:mm" max="2020-12-12"  placeholder="Select time"></ion-datetime>
                  </ion-item>
                </div>
              </div>



              <div padding>
                <ion-button size="medium" type="submit" expand="block">Submit</ion-button>
              </div>

          </form>
      </ion-card-content>

  </ion-card>
</ion-content>

<ion-tab-bar color="primary" slot="bottom">
  <ion-tab-button (click)="actionSheet('home')">
    <ion-label>Home</ion-label>
    <ion-icon name="home"></ion-icon>
  </ion-tab-button>

  <ion-tab-button (click)="actionSheet('call')">
    <ion-label>Call</ion-label>
    <ion-icon name="call"></ion-icon>
  </ion-tab-button>

  <ion-tab-button  (click)="actionSheet('email')">
    <ion-label>Email</ion-label>
    <ion-icon name="mail"></ion-icon>
  </ion-tab-button>
  <ion-tab-button (click)="actionSheet('link')">
    <ion-label>Website</ion-label>
    <ion-icon name="globe"></ion-icon>
  </ion-tab-button>

  <ion-tab-button (click)="actionSheet('info')">
    <ion-label>Info</ion-label>
    <ion-icon name="information-circle-outline"></ion-icon>
  </ion-tab-button>
</ion-tab-bar>
