<ion-app>
      <ion-menu type="overlay">
        <ion-content >
          <div class="header">
            <ion-row>
              <ion-col>
                <div class="ion-text-center profile">
                  <ion-img style="width:70px" src="assets/images/user.png"></ion-img>
                </div>
              </ion-col>
            </ion-row>
            <ion-row style="align-items:center;padding-left:10px;">
              <ion-col *ngIf="user.userData">
                  <h5>{{user.userData.name}}</h5>
                  <span style="color:#ddd">{{user.userData.email}}</span> <br>
                  <span style="color:#ddd">{{user.userData.phone}}</span>
              </ion-col>
            </ion-row>
          </div>
              <ion-list>

                <ion-menu-toggle auto-hide="flase" *ngFor="let p of appPages">
                  <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
                    <ion-icon  slot="start" [name]="p.icon"></ion-icon>
                    <ion-label >
                      {{p.title}}
                    </ion-label>
                  </ion-item>
                </ion-menu-toggle>

                <ion-menu-toggle auto-hide="flase">
                  <ion-item (click)="logout()" [routerDirection]="'root'">
                    <ion-icon slot="start" name="log-out"></ion-icon>
                    <ion-label>
                      Logout
                    </ion-label>
                  </ion-item>
                </ion-menu-toggle>
              </ion-list>
        </ion-content>
      </ion-menu>
      <ion-router-outlet main></ion-router-outlet>
</ion-app>
