.content{
    background:green;
}

.header{
height:200px;
color:white;
background: rgb(0,114,249);
background: linear-gradient(90deg, rgba(0,114,249,1) 0%, rgba(27,85,142,1) 100%);
}

.profile{
  margin-left:5%;
}
